<footer class="footer overflow-hidden">
   <div class="container-fluid px-0">
      <div>
         <img src="{{ url_for('static', filename='img/layered-waves.svg') }}"
              alt="Layered waves"
              class="responsive-img-height">
      </div>
      <div class="row">
         <div class="col col--center">
            N° de inscripción
            <br>
            SSN0244
         </div>
         <div class="col col--center">
            Atención al asegurado
            <br>
            0800-666-8400
         </div>
         <div class="col col--center">Organismo de Control</div>
         <div class="col col--center">
            <a href="https://www.argentina.gob.ar/superintendencia-de-seguros">
               <img src="{{ url_for('static', filename='img/ssn.jpg') }}"
                    alt="Logo SSN"
                    class="responsive-img-height">
            </a>
         </div>
      </div>
   </div>
</footer>
