{% for form in forms %}
   <div class="form">
      <!-- Form title -->
      <h3 class="mt-5 horizontal-line">{{ form.title }}</h3>
      <div class="row gy-4">
         {% for input in form.inputs %}
            {% set col_class = "col-12 col-sm-4" %}  <!-- Default column classes for inputs -->
            {% if input.size == 'double' %}
               {% set col_class = "col-12 col-sm-8" %}  <!-- Override column classes for inputs with size: double -->
            {% endif %}
            <div class="{{ col_class }}">
               <div class="form-floating">
                  {% if input.type == 'select' %}
                     {% if input['select-multiple'] %}
                        <!-- Multiple select dropdown -->
                        <div class="input-group">
                           <button class="btn btn-secondary dropdown-toggle w-100 text-start"
                                   type="button"
                                   id="{{ input.label }}Dropdown"
                                   data-bs-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">{{ input.label }}</button>
                           <div class="dropdown-menu w-100"
                                aria-labelledby="{{ input.label }}Dropdown">
                              {% for option in input.options %}
                                 <div class="form-check">
                                    <input class="form-check-input"
                                           type="checkbox"
                                           value="{{ option }}"
                                           id="{{ option | clean_text }}"
                                           name="{{ input.label | clean_text }}"
                                           style="margin-left: 1px;
                                                  margin-right: 10px">
                                    <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                                 </div>
                              {% endfor %}
                           </div>
                        </div>
                     {% else %}
                        <!-- Regular select input -->
                        <select class="form-select"
                                id="{{ input.label | clean_text }}"
                                name="{{ input.label | clean_text }}">
                           {% for option in input.options %}<option>{{ option }}</option>{% endfor %}
                        </select>
                        {% if input.label %}<label for="{{ input.label }}" class="floating-label">{{ input.label }}</label>{% endif %}
                     {% endif %}
                  {% elif input.type == 'radio' %}
                     <!-- Radio buttons input -->
                     <div>
                        <label>{{ input.label }}</label>
                        <br>
                        {% for option in input.options %}
                           <div class="form-check form-check-inline">
                              <input class="form-check-input"
                                     type="radio"
                                     name="{{ input.label | clean_text }}"
                                     id="{{ option | clean_text }}"
                                     value="{{ option }}">
                              <label class="form-check-label" for="{{ option }}">{{ option }}</label>
                           </div>
                        {% endfor %}
                     </div>
                  {% else %}
                     <!-- Text, email, or telephone input -->
                     <input type="{{ input.type }}"
                            class="form-control"
                            id="{{ input.label | clean_text }}"
                            name="{{ input.label | clean_text }}"
                            placeholder=" ">
                     {% if input.label %}<label for="{{ input.label }}" class="floating-label">{{ input.label }}</label>{% endif %}
                  {% endif %}
                  {% if input.helptext %}
                     <!-- Help text for input -->
                     <small id="{{ input.label | clean_text }}Help" class="form-text text-muted">{{ input.helptext }}</small>
                  {% endif %}
               </div>
            </div>
         {% endfor %}
      </div>
   </div>
{% endfor %}
