.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: 600;
  width: 180px;
  height: 70px;
  font-size: 1.3rem;
  border-radius: 30px;

  @include media-breakpoint-up(sm) {
    width: 200px;
    height: 80px;
    font-size: 1.5rem;
  }
  @include media-breakpoint-up(xl) {
    width: 300px;
    height: 100px;
    font-size: 1.75rem;
  }
}
.button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.5rem;
  margin-top: 10px;
}
