.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
  border-radius: 50px;
  font-size: 2rem;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 10px;
}
.button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border-radius: 15px;
  font-size: 1.5rem;
  margin-top: 10px;
}
