.button-large {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 80px;
  border-radius: 50px;
  font-size: 2rem;
  padding-bottom: 50px;
  padding-top: 50px;
  margin-top: 10px;
}
