@import "../variables/_variables.scss";
.picker {
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    height: 220px;
    width: 220px;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: $ps-blue;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50%;
    color: white;
    font-size: 5rem;
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;

    height: 50%;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
