@import "../variables/colors";

.stepper {
  display: flex;
  justify-content: center;
  &__step {
    display: flex;
    align-items: center;
  }
  &__number-wrapper {
    --size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    @include media-breakpoint-up(md) {
      --size: 60px;
    }
    @include media-breakpoint-up(lg) {
      --size: 70px;
    }
    &--current {
      background-color: $ps-blue;
    }
    &--completed {
      background-color: $ps-blue-05;
    }
    &--pending {
      background-color: $ps-light-grey;
    }
  }
  &__number {
    font-size: 1.75rem;
    font-weight: 500;

    @include media-breakpoint-up(md) {
      font-size: 2rem;
    }
    &--current {
      color: white;
    }
    &--completed {
      color: $ps-barely-grey;
    }
    &--pending {
      color: $ps-barely-grey;
    }
  }
  &__title {
    text-align: start;
    font-size: 1.3rem;
    margin-left: 10px;

    @include media-breakpoint-up(md) {
      text-align: center;
      font-size: 1rem;
      margin-left: unset;
    }
    &--current {
      font-weight: bolder;
      color: $ps-blue;
      font-size: 1.2rem;
      @include media-breakpoint-up(sm) {
        font-size: 1.4rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 1.2rem;
      }
    }
    &--completed {
      color: $ps-blue-05;
      font-weight: 400;
    }
    &--pending {
      color: $ps-light-grey;
      font-weight: 400;
    }
  }
  &__separator {
  }
}
