.title {
  font-weight: bolder;
  font-size: 4rem;
  @include media-breakpoint-up(sm) {
    font-size: 5rem;
  }
}
.subtitle {
  font-weight: lighter;
  font-size: 1.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}
