{% extends "base.html" %}
{% block content %}
   <div class="container my-5">
      <div class="row justify-content-between g-5">
         <div class="col-12 col-lg-4">
            <h1 class="title display-2 text-center text-lg-start">¡Tu pedido ha sido confirmado!</h1>
            <h2 class="subtitle display-6 text-center text-lg-start">Proximamente nos estaremos contactando</h2>
         </div>
         <div class="col-12 col-lg-6 flex-center">
            {% set filename = "img/order-confirmed-" ~ image ~ ".svg" %}
            <img src="{{ url_for('static', filename=filename) }}"
                 alt="Order confirmed"
                 class="responsive-img-width">
         </div>
      </div>
   </div>
{% endblock content %}
