{% extends "base.html" %}
{% block content %}
   <section id="title-with-stepper">
      <div class="container">
         <h1 class="text-center title">Cotización</h1>
         <h2 class="text-center subtitle">Elegí un plan a tu medida - Uso particular</h2>
         {% include "components/stepper.html" %}
      </div>
   </section>
   <section id="cards">
      <div class="container">
         <div class="my-5 flex-center flex-column flex-xl-row">{% include "components/horizontal_cards_generator.html" %}</div>
         <div class="my-5">{% include "components/pricing_cards_generator.html" %}</div>
      </div>
   </section>
   <section class="my-5 py-5" id="buttons">
      <div class="container">
         <div class="flex-center flex-column flex-sm-row">
            <a href='{{ url_for("ingreso_datos_automotor") }}'
               class="text-decoration-none">
               <button class="btn btn-secondary button-small m-3">Anterior</button>
            </a>
            <button class="btn btn-secondary button-small m-3">Ver en PDF</button>
            <button class="btn btn-secondary button-small m-3">Contactate</button>
         </div>
      </div>
   </section>
{% endblock content %}
