{% extends "base.html" %}
{% block content %}
   <section id="title-with-stepper">
      <div class="container">
         <h1 class="display-1 text-center title">Datos del vehículo</h1>
         <h2 class="display-6 text-center subtitle">Ingresá los datos de tu vehículo - Uso Particular</h2>
         {% include "components/stepper.html" %}
      </div>
   </section>
   <div class="container">{% include "components/form_generator.html" %}</div>
   <div class="container flex-center">
      <a href='{{ url_for("cotizacion") }}' class="my-5">
         <button class="btn btn-primary button-large">Continuar</button>
      </a>
   </div>
{% endblock content %}
