{% extends "base.html" %}
{% block content %}
   <section id="title-with-stepper">
      <div class="container">
         <h1 class="flex-center title">Datos Personales</h1>
         <h2 class="flex-center subtitle">Ingresá tus datos personales</h2>
         {% include "components/stepper.html" %}
      </div>
   </section>
   <div class="container">{% include "components/form_generator.html" %}</div>
   <div class="container my-5">
      <div class="flex-center flex-column flex-sm-row">
         <button class="btn btn-secondary button-small m-3">Anterior</button>
         <a href='{{ url_for("confirmacion") }}'>
            <button class="btn btn-primary button-large">Continuar</button>
         </a>
         <button class="btn btn-secondary button-small m-3">Contactate</button>
      </div>
   </div>
{% endblock content %}
